@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');

body {
    font-family: 'Brygada 1918', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fae2b6;
}


header {
    color: #f8e3bc;
    text-align: center;
    padding: 100px 20px;
}

.header-container {
    background: url('../img/1.png')no-repeat center center/cover;
    padding: 100px 20px;
}

section {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    color: #333;

}


h1, h2, h3 {
    margin-bottom: 20px;

}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.team-member img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    background: #333;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.social-icon:hover {
    background-color: #333; /* Color de resaltado */
    color: #fff;
}

.social-icon:hover ~ .social-icon {
    filter: brightness(0.5);
}

.social-icon:hover ~ .social-icon:hover {
    filter: brightness(1);
}

.social-icon i {
    font-size: 20px;
}
